    <footer class="footer">
        <div class="footer_bottom">
            <div class="copyright_text text-center">
                <p>
                    Corona Today는 질병관리본부에서 제공되는 데이터를 분석해 위험 수치를 제공합니다.<br>
                    api 제공 : 카카오, 서버 : AWS<br>
                    문의 : 
                    <div class='aboutus'><a href="https://business-datascience-develop.tistory.com/">송근일(kmlaminjoksong@gmailcom),</a></div>
                    <div class='aboutus'><a href="https://www.instagram.com/outsub56/">이인섭(insub789@gmail.com),</a></div>
                    <div class='aboutus'><a href="#">권기대(kkd7407@naver.com)</a></div>
                </p>
            </div>
        </div>
    </footer>


