    <div class="header_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4 col-md-4 d-none d-md-block">
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="logo">
                        <a href="/">
                            <h1 style="font-family: 'MapoPeacefull'; font-size:2.5em; text-align:center; padding:20px;">Corona Today</h1>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 d-none d-md-block">
                </div>
            </div>
        </div>
    </div>